html {
    height: 100%;
}

body {
    font-family: "Ubuntu";
    color: rgb(202, 202, 202);

    margin: 0;
    padding: 0;

    min-height: 100%;
}

svg {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: unset;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
    padding: 3%;
    position: fixed;
    inset: 0;
    overflow: auto;
}

.web-lang {
    filter: brightness(50%) opacity(40%);
    position: absolute;
    top: 1%;
    left: 1%;
    width: 1.5em;
    cursor: pointer;
    display: none;
}

.web-lang:hover {
    filter: brightness(75%) opacity(60%);
}

.tool-display {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: color 0.4s ease-out;
}

.tool {
    display: inline-flex;

    height: 1.2em;
    width: fit-content;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin: 0.1em 0.1em 0.1em 0.1em;

    /* Center in both axis*/
    justify-content: center;
    align-items: center;

    border: 0.075em;
    border-color: rgb(29, 29, 29);
    border-style: solid;
    border-radius: 1em;

    color: rgba(0, 0, 0, 0.70);

    font-size: 80%;
    font-weight: 600;

    animation: rainbow 10s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow {

    100%,
    0% {
        background-color: rgba(241, 184, 243, 0.8);
    }

    50% {
        background-color: rgba(165, 197, 245, 0.8);
    }
}

.left-col {
    
    flex: 1;
    display: flex;
    flex-direction: column;
}

.middle-col {
    flex: 3;
}

.right-col {
    flex: 3;
}

.col {
    background-color: rgba(127, 77, 160, 0.002);
    backdrop-filter: blur(0.5em);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

}

.avatar {
    /* Smooth the circle */
    border: 0.2em;

    border-style: solid;
    border-radius: 100%;


    width: 100%;
    max-width: 13em;
}

.name {
    font-size: 250%;
    margin: 1em 0 0.1em 0;
}

.line {
    width: 100%;
    min-width: 13em;
    border-bottom: 0.35em solid rgb(202, 202, 202);
    margin-bottom: 8%;
}

.lang {
    margin: 2% 0;
    padding: 1%;
}

.contact-box {
    color: white;

    margin: 2% 0;
    padding: 1%;

    transition: filter 0.2s ease-out;
}

.contact-box:hover {
    filter: drop-shadow(0 0 1em #edcef35e);

    .contact-svg {
        fill: rgb(203, 184, 221);
        color: rgb(203, 184, 221);

    }

    a {
        color: rgb(203, 184, 221);
    }
}

.contact-svg {
    transition: color 0.3s ease-out, fill 0.3s ease-out;
    flex: 0 0 min-content;
    width: min-content;
    fill: white;
}

.contact-text {
    margin: 0 0 0 5%;
    width: fit-content;
}

.contact-link {
        opacity: 0.5;
        align-self: center;
}

.card-wrap {
    --card-border: 0.12em solid rgba(233, 233, 233, 0.185);
    --circunfrence-color: #cccccccc;
    --card-crystal-background: rgba(37, 37, 37, 0.11);
    --card-refection: rgba(177, 177, 177, 0.030);
    --card-transition:  background-color 0.3s ease-out,
                        transform 0.3s ease-out;

    display: flex;
    flex-direction: column;

    .card {
        transition: var(--card-transition);
        border: var(--card-border);

        background: linear-gradient(
            -40deg,
            var(--card-crystal-background) 0%,
            var(--card-crystal-background) 18%,
            var(--card-refection) 20%,
            var(--card-crystal-background) 22%,
            var(--card-crystal-background) 68%,
            var(--card-refection) 70%,
            var(--card-crystal-background) 72%
        );
        
        border-radius: 0.6em;
        padding: 0.5em;
        margin: 0.5em 0;

        .inner-card {
            flex-direction: column;
            align-items: flex-start;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;

                h3 {
                    color: rgb(214, 188, 230);
                    display: inline !important;
                    margin: 0 0 0 0.5em;
                }

                .card-link {
                    border-style: none;
                    align-self: center;
                    opacity: 50%;
                    transition: color 0.6s ease-out;
                }

                img {
                    width: 1.5em;
                    height: 1.5em;
                    border-style: solid;
                    border-width: 0.1em;
                    border-color: var(--circunfrence-color);
                    border-radius: 100%;
                }

                svg {
                    border-style: solid;
                    border-width: 0.1em;
                    border-color: var(--circunfrence-color);
                    border-radius: 100%;
                    width: 1.5em;
                    height: 1.5em;

                }
            }

            p {
                text-align: justify;
                color: rgb(204, 204, 204);
                margin: 0.6em 0;
            }

            .tool-display {
                p {
                    color: #000000;
                }
            }
        }
    }
}

/* .linkable-card, especially the :hover, should be here down the .card-wrap,
otherwise the background color would be overridden and won't apply unless
!important added to it. */
.linkable-card {
    transition: var(--card-transition);
}

.linkable-card:hover {
    background-color: rgba(121, 121, 121, 0.12);
    transform: scale(1.01);
    .card-link {
        color: rgb(188, 228, 255);
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .body-wrapper {
        display: flex;
        flex-direction: column;
        padding: 4%;
    }

    .avatar {
        flex: 1;

        /* Smooth the circle */
        border: 0.2em;

        border-style: solid;
        border-radius: 100%;

        display: block;
        margin: 0 auto;

        width: 30%;
    }

    .name {
        font-size: 200%;
        margin: 2% 0 0.1em 0;
    }

    .line {
        width: 100%;
        border-bottom: 0.4em solid rgb(255, 255, 255);

    }

    .web-lang {
        width: 1.25em;
        top: 0.5em;
        left: 0.5em;
    }

    .col {
        margin: 0.5em;
    }


}